html, body {
  height: 100%;
  margin: 0;
  background: #000;
}

.grid-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.grid-background {
  position: absolute;
  inset: 0;
  background-image: 
    linear-gradient(to right, #e2e8f0 1px, transparent 1px),
    linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  background-size: 20px 30px;
  -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
}
