.image {
  position: absolute;
  top: 0;
  left: 0;
  animation: moveLeft 15s linear infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
